body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #E6E6FA;
    color: black;
    padding: 10px 0;
    text-align: center;
}

nav {
    text-align: center; /* Center the navigation */
}

nav ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
}

nav ul li {
    display: inline; /* Display list items inline */
    margin: 0 15px; /* Space between the buttons */
}

nav ul li a {
    color: black; /* Set text color to black */
    text-decoration: none; /* Remove underline */
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #E6E6FA;
}
